<h1>プロフィール編集</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>が発生しました:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "氏名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', user_path(@user) %>