<h1><%= @user.name %>の投稿一覧</h1>
<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <%= image_tag post.image.variant(resize_to_fill: [200, 200]), size: "200x200" if post.image.attached? %>
    <p><%= truncate(post.content, length: 100) %></p>
  </div>
<% end %>
  
  <%= link_to 'プロフィール編集', edit_user_path(@user) %> |
  <%= link_to '退会する', user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' } %>
  

