<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table>
  <tbody>
    <% @posts.each_slice(4) do |group| %>
      <tr>
        <% group.each do |post| %>
          <td>
            <strong>タイトル: <%= post.title %></strong><br>
            <%= image_tag post.image.variant(resize_to_fill: [200, 200]), size: "200x200" if post.image.attached? %><br>
            <strong>内容:</strong>
            <p><%= post.content %></p>
            <strong>ユーザー:</strong>
            <p><%= post.user_id %></p>
            <%= link_to '詳細', post %><br>
            <%= link_to '編集', edit_post_path(post) %><br>
            <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_post_path %>
